{% for loopback in loopback_interfaces %}
interface Loopback{{ loopback.number }}
  ip address {{ loopback.ip }} 255.255.255.0
{% endfor %}

{% for interface in interfaces %}
interface {{ interface.name }}
  ip address {{ interface.ip }} {{ interface.mask }}
  no shut
  {% if interface.ospf_area is defined %}
  ip ospf 100 area {{ interface.ospf_area }}
  {% endif %}
{% endfor %}

router ospf 100
  router-id {{ ospf_router_id }}
  {% for ospf_network in ospf_networks %}
  network {{ ospf_network }} area 0
  {% endfor %}

router bgp 65000
  bgp router-id {{ bgp_router_id }}
  neighbor {{ bgp_neighbor_ip }} remote-as 65100
  {% for bgp_network in bgp_networks %}
  network {{ bgp_network }}
  {% endfor %}
