{% for loopback in loopback_interfaces %}
interface Loopback{{ loopback.number }}
  ip address {{ loopback.ip }} 255.255.255.0
{% endfor %}

{% for interface in interfaces %}
interface {{ interface.name }}
  ip address {{ interface.ip }} {{ interface.mask }}
  no shut
{% endfor %}

router bgp 65100
  bgp router-id {{ bgp_router_id }}
  neighbor {{ bgp_neighbor_ip }} remote-as 65000
  network {{ bgp_network }}

